.form {
    display: flex;
    flex-direction: column;
    width: 287px;
    background-color: #1F1F1F;

    @media screen and (min-width: 768px){
        width: 344px;
    }
}
.input{
    color: #FFFFFF;
}
.error{
    color: red;
    margin-left: 14px;
}