.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .priority-text::before {
  content: '';
  height: 12px;
  width: 12px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
} */
