.os-scrollbar{
    box-sizing: border-box;
    --os-track-border-radius: 12px;
    --os-handle-border-radius: 12px;
    padding: 0;
}
.os-scrollbar-vertical {
    width: 8px;
}
.os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
    min-height: 142px;
    max-height: 142px;
}

.os-scrollbar-horizontal {
    height: 12px;  
    margin-left: 24px;
    margin-right: 24px;

    @media (max-width: 767px) {
        margin-left: 32px;
        margin-right: 32px;
    }
}

.os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
    min-width: 179px;
    max-width: 637px;
}


