 :root {
    color: #161616;
        color: #16161680;
        color: #FFFFFF;
        color: #5255BC;
        color: #FFFFFF80;
       color: #161616CC;
       color: #ECEDFD;
        color: #FCFCFC;
        color: #8FA1D0;
       color: #161616B2;
        color: #1616161A;
        color: #B8BCFD;
        color: #FFFFFF1A;
        color: #1616164D;
        color: #BEDBB0;
        color: #E09CB5;
        color: #16161633;
       color: #ECEDFD66;
    background: #161616;
        background: #5255BC;
        background: #1515154D;
        background: #F6F6F7;
        background: #121212;
        background: #E8E8E8;
        background: #1F1F1F;
            background: #BEDBB0;
            background: #FFFFFFCC;
            background: #151515;
            background: #BEDBB080;
            background: #FFFFFF4D;
            background: #FFFFFF33;
                background: linear-gradient(180deg, rgba(196, 196, 196, 0) 25%, #BEDBB0 92.19%);
            
 }